@property --hue {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}
* {
  box-sizing: border-box;
}
:root {
  --perspective: 800;
  --cuboid-height: 14;
  --cuboid-width: 14;
  --cuboid-depth: 14;
  --speed: 1.2s;
  --x: 0;
  --y: 0;
  --z: 7;
  --rotate-x: -30;
  --rotate-y: -24;
  --plane-width: 14;
  --plane-height: 14;
  --rotate-cuboid-x: 0;
  --rotate-cuboid-y: 0;
  --rotate-cuboid-z: 0;
}
body {
  min-height: 100vh;
  background-color: #3D3E6F;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* تحديد اتجاه العناصر إلى الرأسي */
  justify-content: center; /* توسيط العناصر عموديًا */
  align-items: center; /* توسيط العناصر أفقيًا */
}

.scene {
  perspective: calc(var(--perspective, 500) * 1px);
  transform-style: preserve-3d;
  height: 10vh; /* تقليل ارتفاع الرسم المتحرك */
  width: 30vw; /* تقليل عرض الرسم المتحرك */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.5); /* تصغير حجم الرسم المتحرك */
}


.plane {
  height: calc(var(--plane-height, 25) * 1vmin);
  width: calc(var(--plane-width, 25) * 1vmin);
  transform-style: preserve-3d;
  transform: rotateX(calc(var(--rotate-x, -24) * 1deg)) rotateY(calc(var(--rotate-y, -24) * 1deg)) rotateX(90deg);
}
.cuboid {
  --width: var(--cuboid-width, 15);
  --height: var(--cuboid-height, 10);
  --depth: var(--cuboid-depth, 4);
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  transform-style: preserve-3d;
  position: absolute;
  transform: translate3d(calc(var(--x, 4) * 1vmin), calc(var(--y, 5) * 1vmin), calc(var(--z, 0) * 1vmin)) rotateX(-90deg) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg));
}
.cuboid > div:nth-of-type(1) {
  height: calc(var(--height) * 1vmin);
  width: 100%;
  transform-origin: 50% 50%;
  transform: rotateX(-90deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-90deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
}
.cuboid > div:nth-of-type(2) {
  height: calc(var(--height) * 1vmin);
  width: 100%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(180deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}
.cuboid > div:nth-of-type(3) {
  height: calc(var(--height) * 1vmin);
  width: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}
.cuboid > div:nth-of-type(4) {
  height: calc(var(--height) * 1vmin);
  width: calc(var(--depth) * 1vmin);
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(-90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}
.cuboid > div:nth-of-type(5) {
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * 1vmin));
  position: absolute;
  top: 50%;
  left: 50%;
}
.cuboid > div:nth-of-type(6) {
  height: calc(var(--depth) * 1vmin);
  width: calc(var(--width) * 1vmin);
  transform: translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * -1vmin)) rotateX(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
}
.demo-cuboid > div {
  background: hsl(180, 50%, calc(var(--lightness, 50) * 1%));
}
.demo-cuboid > div:nth-of-type(1),
.demo-cuboid > div:nth-of-type(5) {
  --lightness: 40;
}
.demo-cuboid > div:nth-of-type(2),
.demo-cuboid > div:nth-of-type(4) {
  --lightness: 50;
}
.demo-cuboid > div:nth-of-type(3) {
  --lightness: 60;
}
.cube-shadow {
  height: 100%;
  width: 100%;
  background: #40bfbf;
  filter: blur(15px);
  position: absolute;
}
.cube-spin,
.cube-squish,
.cube-wrap {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
}
.cuboid__mouth {
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: inset(50% 0 0 0);
  -webkit-clip-path: inset(50% 0 0 0);
}
.cuboid__mouth:after {
  content: '';
  height: 35%;
  width: 45%;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  right: 0;
  background: #e63b19;
}
.cuboid__eyes {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-animation: blink 5s infinite;
          animation: blink 5s infinite;
}
.cuboid__eyes > div {
  height: 2vmin;
  width: 2vmin;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transform: translate(0, -50%);
}
.cuboid__eyes > div:after {
  content: '';
  background: #fff;
  height: 20%;
  width: 20%;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
}
.cuboid__eyes > div:nth-of-type(1) {
  left: 0;
}
.cuboid__eyes > div:nth-of-type(2) {
  right: 0;
}
:checked ~ .scene {
  -webkit-animation: party var(--speed) infinite linear;
          animation: party var(--speed) infinite linear;
}
:checked ~ .scene .cuboid {
  -webkit-animation: flip calc(var(--speed) * 2) infinite ease-out;
          animation: flip calc(var(--speed) * 2) infinite ease-out;
}
:checked ~ .scene .cube-shadow {
  -webkit-animation: shadow var(--speed) infinite ease-out;
          animation: shadow var(--speed) infinite ease-out;
}
:checked ~ .scene .cube-spin {
  -webkit-animation: spin calc(var(--speed) * 2) var(--speed) infinite ease-out;
          animation: spin calc(var(--speed) * 2) var(--speed) infinite ease-out;
}
:checked ~ .scene .cube-squish {
  -webkit-animation: squish var(--speed) infinite ease-out;
          animation: squish var(--speed) infinite ease-out;
}
:checked ~ .scene .cube-wrap {
  -webkit-animation: jump var(--speed) infinite ease-out;
          animation: jump var(--speed) infinite ease-out;
}
:checked ~ .scene .cube-shadow {
  background: hsla(var(--hue, 0), 80%, 50%, 0.5);
}
:checked ~ .scene .demo-cuboid > div {
  background: hsl(var(--hue, 0), 80%, calc(var(--lightness, 50) * 1%));
}
:checked ~ label {
  --on: 1;
}
:checked ~ label span {
  -webkit-animation: rock 0.1s infinite linear alternate;
          animation: rock 0.1s infinite linear alternate;
}
#party {
  opacity: 0;
  height: 0;
  width: 0;
  position: fixed;
  left: 100%;
}
label {
  --on: 0;
  height: 2rem;
  width: 4rem;
  background: transparent;
  border-radius: 25%/50%;
  border: 2px solid #fff;
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(calc(1 - var(--on)));
  cursor: pointer;
  z-index: 2;
}
span {
  display: inline-block;
  font-size: 2rem;
  line-height: 1rem;
  transform: translate(calc(var(--on) * 100%), 0);
  transition: transform 0.1s, filter 0.1s;
}
@-webkit-keyframes spin {
  0%, 10% {
    transform: rotate(0deg);
  }
  40%, 50%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%, 10% {
    transform: rotate(0deg);
  }
  40%, 50%, 100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes flip {
  0%, 10% {
    transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 5) * 1vmin)) rotateX(-90deg) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg));
  }
  40%, 50%, 100% {
    transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 5) * 1vmin)) rotateX(270deg) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg));
  }
}
@keyframes flip {
  0%, 10% {
    transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 5) * 1vmin)) rotateX(-90deg) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg));
  }
  40%, 50%, 100% {
    transform: translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 5) * 1vmin)) rotateX(270deg) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg));
  }
}
@-webkit-keyframes squish {
  0%, 100% {
    transform: scaleZ(1) scale(1);
  }
  15% {
    transform: scaleZ(0.5) scale(1.15);
  }
  50%, 85% {
    transform: scaleZ(1.25) scale(0.5);
  }
}
@keyframes squish {
  0%, 100% {
    transform: scaleZ(1) scale(1);
  }
  15% {
    transform: scaleZ(0.5) scale(1.15);
  }
  50%, 85% {
    transform: scaleZ(1.25) scale(0.5);
  }
}
@-webkit-keyframes jump {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  15%, 95% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 20vmin);
  }
}
@keyframes jump {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  15%, 95% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 20vmin);
  }
}
@-webkit-keyframes shadow {
  0%, 15%, 85%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  25%, 75% {
    transform: scale(0.65);
    opacity: 0.35;
  }
}
@keyframes shadow {
  0%, 15%, 85%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  25%, 75% {
    transform: scale(0.65);
    opacity: 0.35;
  }
}
@-webkit-keyframes blink {
  0%, 47%, 49%, 51%, 100% {
    transform: translate(-50%, -100%) scaleY(1);
  }
  48%, 50% {
    transform: translate(-50%, -100%) scaleY(0.1);
  }
}
@keyframes blink {
  0%, 47%, 49%, 51%, 100% {
    transform: translate(-50%, -100%) scaleY(1);
  }
  48%, 50% {
    transform: translate(-50%, -100%) scaleY(0.1);
  }
}
@-webkit-keyframes party {
  to {
    --hue: 360;
  }
}
@keyframes party {
  to {
    --hue: 360;
  }
}
@-webkit-keyframes rock {
  0% {
    transform: translate(calc(var(--on) * 100%), 0) rotate(-5deg);
  }
  100% {
    transform: translate(calc(var(--on) * 100%), 0) rotate(5deg);
  }
}
@keyframes rock {
  0% {
    transform: translate(calc(var(--on) * 100%), 0) rotate(-5deg);
  }
  100% {
    transform: translate(calc(var(--on) * 100%), 0) rotate(5deg);
  }
}



#stars {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1026px 205px #FFF , 1274px 143px #FFF , 1461px 953px #FFF , 638px 697px #FFF , 719px 1894px #FFF , 1642px 1670px #FFF , 1093px 1848px #FFF , 313px 1846px #FFF , 53px 677px #FFF , 1704px 1922px #FFF , 1835px 377px #FFF , 644px 584px #FFF , 518px 815px #FFF , 1997px 1388px #FFF , 417px 124px #FFF , 844px 1959px #FFF , 1885px 1265px #FFF , 135px 1941px #FFF , 1566px 1275px #FFF , 1232px 766px #FFF , 943px 1855px #FFF , 899px 824px #FFF , 1516px 685px #FFF , 1501px 1167px #FFF , 811px 363px #FFF , 1321px 579px #FFF , 480px 1496px #FFF , 1892px 1030px #FFF , 1805px 1611px #FFF , 1748px 1863px #FFF , 1259px 1508px #FFF , 1525px 531px #FFF , 1651px 1419px #FFF , 1905px 1142px #FFF , 640px 209px #FFF , 574px 1658px #FFF , 1597px 1676px #FFF , 1640px 334px #FFF , 556px 953px #FFF , 114px 1129px #FFF , 572px 970px #FFF , 974px 985px #FFF , 505px 792px #FFF , 1429px 1189px #FFF , 1496px 1818px #FFF , 453px 687px #FFF , 1873px 731px #FFF , 1315px 721px #FFF , 505px 1712px #FFF , 1633px 1847px #FFF , 64px 1841px #FFF , 1193px 637px #FFF , 83px 1808px #FFF , 1552px 1339px #FFF , 1957px 1196px #FFF , 743px 631px #FFF , 1922px 1749px #FFF , 1993px 961px #FFF , 38px 1096px #FFF , 1806px 117px #FFF , 350px 502px #FFF , 406px 1279px #FFF , 1939px 1800px #FFF , 284px 1519px #FFF , 1304px 1560px #FFF , 1822px 1137px #FFF , 1485px 1962px #FFF , 22px 63px #FFF , 789px 1752px #FFF , 208px 1275px #FFF , 639px 520px #FFF , 586px 1287px #FFF , 361px 949px #FFF , 765px 1013px #FFF , 1182px 891px #FFF , 940px 1332px #FFF , 781px 500px #FFF , 1035px 1648px #FFF , 1106px 327px #FFF , 867px 974px #FFF , 288px 217px #FFF , 1071px 642px #FFF , 944px 1861px #FFF , 8px 883px #FFF , 803px 381px #FFF , 1561px 470px #FFF , 670px 35px #FFF , 1734px 837px #FFF , 1613px 834px #FFF , 397px 565px #FFF , 331px 565px #FFF , 1632px 469px #FFF , 1668px 1775px #FFF , 175px 439px #FFF , 693px 1603px #FFF , 1525px 680px #FFF , 615px 743px #FFF , 262px 1695px #FFF , 1933px 1704px #FFF , 1379px 1192px #FFF , 781px 1192px #FFF , 1939px 1831px #FFF , 32px 7px #FFF , 1957px 276px #FFF , 53px 393px #FFF , 1447px 1812px #FFF , 1957px 1901px #FFF , 785px 1231px #FFF , 1624px 1020px #FFF , 171px 1379px #FFF , 843px 600px #FFF , 1159px 1898px #FFF , 677px 1782px #FFF , 1775px 1221px #FFF , 475px 94px #FFF , 988px 1222px #FFF , 1739px 769px #FFF , 86px 567px #FFF , 1811px 1876px #FFF , 692px 583px #FFF , 771px 347px #FFF , 1076px 1754px #FFF , 761px 1326px #FFF , 1699px 710px #FFF , 51px 1688px #FFF , 601px 909px #FFF , 1284px 58px #FFF , 1604px 508px #FFF , 947px 1563px #FFF , 864px 1348px #FFF , 905px 1091px #FFF , 1371px 865px #FFF , 1335px 799px #FFF , 520px 1417px #FFF , 1627px 944px #FFF , 825px 6px #FFF , 958px 154px #FFF , 224px 331px #FFF , 466px 556px #FFF , 1227px 15px #FFF , 490px 919px #FFF , 199px 1960px #FFF , 21px 1320px #FFF , 858px 1116px #FFF , 1504px 1902px #FFF , 52px 252px #FFF , 1442px 1801px #FFF , 310px 1899px #FFF , 1597px 840px #FFF , 1310px 1240px #FFF , 1153px 226px #FFF , 31px 84px #FFF , 789px 1978px #FFF , 1241px 1296px #FFF , 1108px 664px #FFF , 242px 1932px #FFF , 125px 1537px #FFF , 1251px 1619px #FFF , 910px 1701px #FFF , 1718px 1609px #FFF , 218px 862px #FFF , 600px 501px #FFF , 1173px 1265px #FFF , 1281px 865px #FFF , 603px 295px #FFF , 759px 1469px #FFF , 1481px 338px #FFF , 728px 929px #FFF , 1968px 1276px #FFF , 183px 1706px #FFF , 527px 537px #FFF , 412px 493px #FFF , 1091px 965px #FFF , 1942px 1490px #FFF , 1082px 840px #FFF , 1053px 1673px #FFF , 1317px 260px #FFF , 891px 914px #FFF , 298px 1357px #FFF , 1643px 1882px #FFF , 1489px 811px #FFF , 1929px 42px #FFF , 1891px 1133px #FFF , 79px 1981px #FFF , 719px 166px #FFF , 862px 1803px #FFF , 1021px 1531px #FFF , 975px 695px #FFF , 236px 76px #FFF , 724px 292px #FFF , 1568px 807px #FFF , 1119px 1924px #FFF , 1883px 757px #FFF , 1069px 1461px #FFF , 1665px 189px #FFF , 744px 1100px #FFF , 727px 841px #FFF , 886px 1203px #FFF , 1472px 1894px #FFF , 1305px 498px #FFF , 651px 139px #FFF , 1678px 1344px #FFF , 813px 1076px #FFF , 1885px 216px #FFF , 1157px 626px #FFF , 516px 1417px #FFF , 154px 1790px #FFF , 1377px 856px #FFF , 183px 1994px #FFF , 978px 1594px #FFF , 1720px 18px #FFF , 1719px 565px #FFF , 282px 1852px #FFF , 553px 1904px #FFF , 137px 1072px #FFF , 1927px 476px #FFF , 1534px 96px #FFF , 1828px 393px #FFF , 578px 389px #FFF , 319px 1159px #FFF , 218px 402px #FFF , 1740px 1635px #FFF , 704px 1538px #FFF , 68px 165px #FFF , 20px 1189px #FFF , 1230px 1265px #FFF , 1079px 1708px #FFF , 375px 1875px #FFF , 1206px 635px #FFF , 1129px 1845px #FFF , 159px 157px #FFF , 1889px 1893px #FFF , 265px 1631px #FFF , 1523px 508px #FFF , 163px 1183px #FFF , 1406px 1052px #FFF , 1455px 466px #FFF , 1339px 752px #FFF , 893px 816px #FFF , 1947px 1454px #FFF , 1755px 913px #FFF , 1360px 982px #FFF , 1315px 1357px #FFF , 1796px 970px #FFF , 1028px 1570px #FFF , 673px 1016px #FFF , 732px 1047px #FFF , 970px 805px #FFF , 83px 174px #FFF , 202px 1296px #FFF , 1971px 742px #FFF , 1927px 616px #FFF , 1070px 1847px #FFF , 56px 1463px #FFF , 1637px 229px #FFF , 1735px 542px #FFF , 1568px 844px #FFF , 815px 540px #FFF , 1673px 1945px #FFF , 1084px 1696px #FFF , 1528px 717px #FFF , 652px 1266px #FFF , 392px 628px #FFF , 109px 586px #FFF , 759px 768px #FFF , 387px 266px #FFF , 1020px 1571px #FFF , 1748px 1492px #FFF , 792px 1832px #FFF , 942px 558px #FFF , 195px 1149px #FFF , 800px 1218px #FFF , 562px 1263px #FFF , 533px 949px #FFF , 451px 1865px #FFF , 1682px 1384px #FFF , 226px 356px #FFF , 1084px 734px #FFF , 883px 300px #FFF , 1871px 462px #FFF , 642px 1497px #FFF , 1365px 1224px #FFF , 377px 950px #FFF , 888px 871px #FFF , 782px 46px #FFF , 2000px 1334px #FFF , 1066px 921px #FFF , 300px 211px #FFF , 1181px 1164px #FFF , 617px 1424px #FFF , 777px 606px #FFF , 547px 1481px #FFF , 1249px 610px #FFF , 528px 578px #FFF , 1871px 1843px #FFF , 538px 232px #FFF , 418px 679px #FFF , 853px 1606px #FFF , 63px 1208px #FFF , 450px 1742px #FFF , 1189px 1942px #FFF , 1775px 1961px #FFF , 349px 953px #FFF , 68px 829px #FFF , 227px 161px #FFF , 689px 699px #FFF , 928px 522px #FFF , 382px 159px #FFF , 1137px 1879px #FFF , 1152px 1912px #FFF , 1914px 119px #FFF , 610px 1292px #FFF , 645px 497px #FFF , 800px 1177px #FFF , 932px 475px #FFF , 1957px 756px #FFF , 1241px 1460px #FFF , 1874px 520px #FFF , 385px 1007px #FFF , 1726px 1399px #FFF , 1556px 704px #FFF , 526px 624px #FFF , 1789px 1957px #FFF , 94px 156px #FFF , 1317px 449px #FFF , 1539px 1364px #FFF , 92px 204px #FFF , 1178px 1720px #FFF , 775px 1617px #FFF , 1877px 15px #FFF , 1288px 152px #FFF , 1911px 299px #FFF , 1492px 1047px #FFF , 962px 1491px #FFF , 569px 1877px #FFF , 396px 1360px #FFF , 1330px 1723px #FFF , 1988px 193px #FFF , 1505px 1811px #FFF , 1101px 1510px #FFF , 1790px 1488px #FFF , 1129px 625px #FFF , 54px 1790px #FFF , 899px 1493px #FFF , 652px 1982px #FFF , 456px 1981px #FFF , 468px 1305px #FFF , 1145px 1552px #FFF , 956px 1079px #FFF , 1434px 1763px #FFF , 727px 1522px #FFF , 222px 47px #FFF , 18px 421px #FFF , 300px 930px #FFF , 10px 1139px #FFF , 345px 437px #FFF , 184px 83px #FFF , 1513px 476px #FFF , 644px 1123px #FFF , 1135px 559px #FFF , 1239px 518px #FFF , 295px 942px #FFF , 117px 428px #FFF , 1837px 26px #FFF , 860px 1129px #FFF , 1912px 1615px #FFF , 184px 56px #FFF , 1061px 1518px #FFF , 1871px 1057px #FFF , 800px 75px #FFF , 1013px 1306px #FFF , 1183px 574px #FFF , 1878px 1484px #FFF , 1727px 1172px #FFF , 1285px 1683px #FFF , 1003px 1755px #FFF , 1944px 1377px #FFF , 1730px 548px #FFF , 452px 1391px #FFF , 170px 664px #FFF , 894px 1498px #FFF , 1452px 73px #FFF , 832px 813px #FFF , 241px 1817px #FFF , 935px 731px #FFF , 135px 340px #FFF , 1488px 893px #FFF , 149px 432px #FFF , 904px 441px #FFF , 1705px 520px #FFF , 198px 917px #FFF , 866px 481px #FFF , 1056px 550px #FFF , 674px 698px #FFF , 271px 1558px #FFF , 389px 1535px #FFF , 435px 586px #FFF , 825px 1663px #FFF , 619px 1689px #FFF , 210px 1063px #FFF , 58px 645px #FFF , 1939px 1068px #FFF , 1882px 202px #FFF , 358px 1420px #FFF , 774px 219px #FFF , 1822px 616px #FFF , 1143px 1113px #FFF , 1366px 1596px #FFF , 44px 591px #FFF , 1647px 1837px #FFF , 784px 494px #FFF , 1963px 165px #FFF , 559px 459px #FFF , 1673px 1227px #FFF , 935px 1486px #FFF , 495px 957px #FFF , 1829px 685px #FFF , 78px 505px #FFF , 1921px 125px #FFF , 1728px 1291px #FFF , 665px 1888px #FFF , 122px 494px #FFF , 1574px 1869px #FFF , 1575px 1428px #FFF , 773px 1242px #FFF , 263px 989px #FFF , 854px 1494px #FFF , 119px 315px #FFF , 336px 641px #FFF , 888px 752px #FFF , 717px 582px #FFF , 1854px 593px #FFF , 1631px 1716px #FFF , 910px 1538px #FFF , 155px 476px #FFF , 1172px 701px #FFF , 1068px 833px #FFF , 148px 331px #FFF , 226px 893px #FFF , 1579px 143px #FFF , 859px 322px #FFF , 130px 1056px #FFF , 955px 1852px #FFF , 1170px 1405px #FFF , 143px 1919px #FFF , 1062px 658px #FFF , 1159px 1351px #FFF , 742px 1371px #FFF , 223px 129px #FFF , 1988px 190px #FFF , 1932px 720px #FFF , 1847px 881px #FFF , 98px 954px #FFF , 1833px 1087px #FFF , 604px 1191px #FFF , 1029px 1069px #FFF , 1617px 1261px #FFF , 657px 863px #FFF , 1797px 1878px #FFF , 1152px 1924px #FFF , 352px 157px #FFF , 1253px 1404px #FFF , 1149px 765px #FFF , 886px 81px #FFF , 229px 357px #FFF , 202px 387px #FFF , 321px 1344px #FFF , 462px 681px #FFF , 385px 1618px #FFF , 1362px 1384px #FFF , 1847px 1416px #FFF , 1981px 1924px #FFF , 1588px 1892px #FFF , 604px 1600px #FFF , 1233px 1687px #FFF , 402px 1753px #FFF , 899px 606px #FFF , 481px 1406px #FFF , 514px 1472px #FFF , 1525px 1680px #FFF , 664px 413px #FFF , 526px 1842px #FFF , 412px 604px #FFF , 1392px 317px #FFF , 1686px 538px #FFF , 494px 1020px #FFF , 30px 660px #FFF , 1710px 615px #FFF , 1487px 473px #FFF , 1422px 75px #FFF , 1804px 1078px #FFF , 600px 679px #FFF , 1408px 565px #FFF , 1600px 881px #FFF , 582px 1218px #FFF , 157px 89px #FFF , 426px 1490px #FFF , 580px 549px #FFF , 1110px 1597px #FFF , 334px 1139px #FFF , 764px 743px #FFF , 381px 227px #FFF , 1371px 1602px #FFF , 1701px 1309px #FFF , 892px 1379px #FFF , 981px 1048px #FFF , 1721px 985px #FFF , 822px 361px #FFF , 1374px 644px #FFF , 768px 1168px #FFF , 1245px 860px #FFF , 1504px 1482px #FFF , 114px 916px #FFF , 349px 892px #FFF , 923px 1949px #FFF , 1362px 307px #FFF , 126px 1940px #FFF , 44px 901px #FFF , 980px 664px #FFF , 1898px 1261px #FFF , 134px 1853px #FFF , 29px 1536px #FFF , 42px 861px #FFF , 1045px 12px #FFF , 1889px 399px #FFF , 1126px 1904px #FFF , 260px 1607px #FFF , 1515px 405px #FFF , 256px 1799px #FFF , 421px 208px #FFF , 937px 383px #FFF , 1789px 308px #FFF , 592px 1701px #FFF , 1021px 636px #FFF , 403px 144px #FFF , 678px 994px #FFF , 399px 782px #FFF , 400px 757px #FFF , 97px 513px #FFF , 1529px 1878px #FFF , 144px 534px #FFF , 788px 503px #FFF , 79px 204px #FFF , 1411px 1934px #FFF , 1837px 819px #FFF , 1447px 557px #FFF , 1274px 1868px #FFF , 1308px 1615px #FFF , 1985px 1330px #FFF , 1312px 652px #FFF , 1021px 1276px #FFF , 1166px 1232px #FFF , 1646px 1666px #FFF , 1899px 1163px #FFF , 494px 1602px #FFF , 390px 892px #FFF , 861px 1985px #FFF , 329px 1337px #FFF , 496px 417px #FFF , 1989px 952px #FFF , 1375px 1344px #FFF , 1369px 1707px #FFF , 302px 1985px #FFF , 1486px 1636px #FFF , 1122px 653px #FFF , 1726px 1829px #FFF , 97px 750px #FFF , 1051px 814px #FFF , 1315px 1063px #FFF , 1816px 1179px #FFF , 528px 52px #FFF , 1408px 520px #FFF , 583px 102px #FFF , 725px 1707px #FFF , 497px 1831px #FFF , 761px 1316px #FFF , 1678px 1380px #FFF , 1743px 1371px #FFF , 1465px 1408px #FFF , 350px 956px #FFF , 513px 164px #FFF , 1074px 1334px #FFF , 1141px 1032px #FFF , 293px 843px #FFF , 988px 1848px #FFF , 940px 689px #FFF , 776px 1052px #FFF , 1921px 573px #FFF , 1584px 163px #FFF , 878px 1876px #FFF , 422px 1705px #FFF , 1555px 1837px #FFF , 1558px 20px #FFF , 1768px 816px #FFF , 862px 975px #FFF , 1641px 101px #FFF , 941px 539px #FFF , 1669px 275px #FFF , 1872px 367px #FFF , 1237px 1965px #FFF , 296px 1403px #FFF , 1112px 1652px #FFF , 691px 1704px #FFF , 1106px 931px #FFF , 1440px 1402px #FFF , 378px 1286px #FFF , 55px 1545px #FFF , 293px 1973px #FFF , 1111px 834px #FFF , 1143px 943px #FFF , 637px 855px #FFF , 875px 1315px #FFF , 1411px 824px #FFF , 224px 882px #FFF , 1151px 1454px #FFF , 456px 1709px #FFF , 814px 276px #FFF , 47px 1404px #FFF , 961px 789px #FFF , 696px 202px #FFF , 1579px 672px #FFF , 574px 1663px #FFF , 1564px 1245px #FFF , 1167px 827px #FFF , 1190px 350px #FFF , 948px 1085px #FFF , 845px 1960px #FFF , 1565px 1497px #FFF , 1326px 679px #FFF , 11px 1990px #FFF , 1639px 461px #FFF , 777px 742px #FFF , 519px 112px #FFF , 1303px 87px #FFF , 905px 1037px #FFF , 1936px 1907px #FFF , 1172px 1157px #FFF , 1123px 1341px #FFF , 1146px 1280px #FFF , 1172px 1701px #FFF , 739px 641px #FFF , 1040px 1938px #FFF , 1533px 147px #FFF , 526px 836px #FFF , 1860px 1383px #FFF , 1434px 1591px #FFF , 1415px 573px #FFF , 508px 938px #FFF , 20px 706px #FFF , 785px 92px #FFF , 1314px 1016px #FFF , 1331px 1155px #FFF , 1607px 360px #FFF , 943px 948px #FFF , 858px 1556px #FFF , 660px 1995px #FFF , 158px 605px #FFF , 1023px 1531px #FFF , 917px 1837px #FFF , 1586px 1857px #FFF , 841px 893px #FFF , 1422px 1566px #FFF , 162px 505px #FFF , 1951px 166px #FFF , 1219px 181px #FFF , 1276px 1557px #FFF , 1134px 425px #FFF , 1779px 1485px #FFF , 1465px 1548px #FFF , 986px 1636px #FFF , 1090px 820px #FFF , 1009px 10px #FFF , 308px 1721px #FFF , 297px 1007px #FFF , 646px 41px #FFF , 1037px 1773px #FFF , 198px 164px #FFF , 1328px 253px #FFF , 304px 1809px #FFF , 268px 1939px #FFF , 1155px 179px #FFF , 1910px 484px #FFF , 1758px 669px #FFF , 1393px 578px #FFF , 1147px 1969px #FFF , 1594px 667px #FFF , 114px 1290px #FFF , 1400px 1374px #FFF , 1159px 678px #FFF , 1267px 132px #FFF , 510px 1274px #FFF , 809px 300px #FFF , 1226px 746px #FFF , 110px 1668px #FFF , 978px 484px #FFF , 199px 1105px #FFF , 1445px 1712px #FFF , 981px 1895px #FFF , 1335px 948px #FFF , 724px 1292px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1026px 205px #FFF , 1274px 143px #FFF , 1461px 953px #FFF , 638px 697px #FFF , 719px 1894px #FFF , 1642px 1670px #FFF , 1093px 1848px #FFF , 313px 1846px #FFF , 53px 677px #FFF , 1704px 1922px #FFF , 1835px 377px #FFF , 644px 584px #FFF , 518px 815px #FFF , 1997px 1388px #FFF , 417px 124px #FFF , 844px 1959px #FFF , 1885px 1265px #FFF , 135px 1941px #FFF , 1566px 1275px #FFF , 1232px 766px #FFF , 943px 1855px #FFF , 899px 824px #FFF , 1516px 685px #FFF , 1501px 1167px #FFF , 811px 363px #FFF , 1321px 579px #FFF , 480px 1496px #FFF , 1892px 1030px #FFF , 1805px 1611px #FFF , 1748px 1863px #FFF , 1259px 1508px #FFF , 1525px 531px #FFF , 1651px 1419px #FFF , 1905px 1142px #FFF , 640px 209px #FFF , 574px 1658px #FFF , 1597px 1676px #FFF , 1640px 334px #FFF , 556px 953px #FFF , 114px 1129px #FFF , 572px 970px #FFF , 974px 985px #FFF , 505px 792px #FFF , 1429px 1189px #FFF , 1496px 1818px #FFF , 453px 687px #FFF , 1873px 731px #FFF , 1315px 721px #FFF , 505px 1712px #FFF , 1633px 1847px #FFF , 64px 1841px #FFF , 1193px 637px #FFF , 83px 1808px #FFF , 1552px 1339px #FFF , 1957px 1196px #FFF , 743px 631px #FFF , 1922px 1749px #FFF , 1993px 961px #FFF , 38px 1096px #FFF , 1806px 117px #FFF , 350px 502px #FFF , 406px 1279px #FFF , 1939px 1800px #FFF , 284px 1519px #FFF , 1304px 1560px #FFF , 1822px 1137px #FFF , 1485px 1962px #FFF , 22px 63px #FFF , 789px 1752px #FFF , 208px 1275px #FFF , 639px 520px #FFF , 586px 1287px #FFF , 361px 949px #FFF , 765px 1013px #FFF , 1182px 891px #FFF , 940px 1332px #FFF , 781px 500px #FFF , 1035px 1648px #FFF , 1106px 327px #FFF , 867px 974px #FFF , 288px 217px #FFF , 1071px 642px #FFF , 944px 1861px #FFF , 8px 883px #FFF , 803px 381px #FFF , 1561px 470px #FFF , 670px 35px #FFF , 1734px 837px #FFF , 1613px 834px #FFF , 397px 565px #FFF , 331px 565px #FFF , 1632px 469px #FFF , 1668px 1775px #FFF , 175px 439px #FFF , 693px 1603px #FFF , 1525px 680px #FFF , 615px 743px #FFF , 262px 1695px #FFF , 1933px 1704px #FFF , 1379px 1192px #FFF , 781px 1192px #FFF , 1939px 1831px #FFF , 32px 7px #FFF , 1957px 276px #FFF , 53px 393px #FFF , 1447px 1812px #FFF , 1957px 1901px #FFF , 785px 1231px #FFF , 1624px 1020px #FFF , 171px 1379px #FFF , 843px 600px #FFF , 1159px 1898px #FFF , 677px 1782px #FFF , 1775px 1221px #FFF , 475px 94px #FFF , 988px 1222px #FFF , 1739px 769px #FFF , 86px 567px #FFF , 1811px 1876px #FFF , 692px 583px #FFF , 771px 347px #FFF , 1076px 1754px #FFF , 761px 1326px #FFF , 1699px 710px #FFF , 51px 1688px #FFF , 601px 909px #FFF , 1284px 58px #FFF , 1604px 508px #FFF , 947px 1563px #FFF , 864px 1348px #FFF , 905px 1091px #FFF , 1371px 865px #FFF , 1335px 799px #FFF , 520px 1417px #FFF , 1627px 944px #FFF , 825px 6px #FFF , 958px 154px #FFF , 224px 331px #FFF , 466px 556px #FFF , 1227px 15px #FFF , 490px 919px #FFF , 199px 1960px #FFF , 21px 1320px #FFF , 858px 1116px #FFF , 1504px 1902px #FFF , 52px 252px #FFF , 1442px 1801px #FFF , 310px 1899px #FFF , 1597px 840px #FFF , 1310px 1240px #FFF , 1153px 226px #FFF , 31px 84px #FFF , 789px 1978px #FFF , 1241px 1296px #FFF , 1108px 664px #FFF , 242px 1932px #FFF , 125px 1537px #FFF , 1251px 1619px #FFF , 910px 1701px #FFF , 1718px 1609px #FFF , 218px 862px #FFF , 600px 501px #FFF , 1173px 1265px #FFF , 1281px 865px #FFF , 603px 295px #FFF , 759px 1469px #FFF , 1481px 338px #FFF , 728px 929px #FFF , 1968px 1276px #FFF , 183px 1706px #FFF , 527px 537px #FFF , 412px 493px #FFF , 1091px 965px #FFF , 1942px 1490px #FFF , 1082px 840px #FFF , 1053px 1673px #FFF , 1317px 260px #FFF , 891px 914px #FFF , 298px 1357px #FFF , 1643px 1882px #FFF , 1489px 811px #FFF , 1929px 42px #FFF , 1891px 1133px #FFF , 79px 1981px #FFF , 719px 166px #FFF , 862px 1803px #FFF , 1021px 1531px #FFF , 975px 695px #FFF , 236px 76px #FFF , 724px 292px #FFF , 1568px 807px #FFF , 1119px 1924px #FFF , 1883px 757px #FFF , 1069px 1461px #FFF , 1665px 189px #FFF , 744px 1100px #FFF , 727px 841px #FFF , 886px 1203px #FFF , 1472px 1894px #FFF , 1305px 498px #FFF , 651px 139px #FFF , 1678px 1344px #FFF , 813px 1076px #FFF , 1885px 216px #FFF , 1157px 626px #FFF , 516px 1417px #FFF , 154px 1790px #FFF , 1377px 856px #FFF , 183px 1994px #FFF , 978px 1594px #FFF , 1720px 18px #FFF , 1719px 565px #FFF , 282px 1852px #FFF , 553px 1904px #FFF , 137px 1072px #FFF , 1927px 476px #FFF , 1534px 96px #FFF , 1828px 393px #FFF , 578px 389px #FFF , 319px 1159px #FFF , 218px 402px #FFF , 1740px 1635px #FFF , 704px 1538px #FFF , 68px 165px #FFF , 20px 1189px #FFF , 1230px 1265px #FFF , 1079px 1708px #FFF , 375px 1875px #FFF , 1206px 635px #FFF , 1129px 1845px #FFF , 159px 157px #FFF , 1889px 1893px #FFF , 265px 1631px #FFF , 1523px 508px #FFF , 163px 1183px #FFF , 1406px 1052px #FFF , 1455px 466px #FFF , 1339px 752px #FFF , 893px 816px #FFF , 1947px 1454px #FFF , 1755px 913px #FFF , 1360px 982px #FFF , 1315px 1357px #FFF , 1796px 970px #FFF , 1028px 1570px #FFF , 673px 1016px #FFF , 732px 1047px #FFF , 970px 805px #FFF , 83px 174px #FFF , 202px 1296px #FFF , 1971px 742px #FFF , 1927px 616px #FFF , 1070px 1847px #FFF , 56px 1463px #FFF , 1637px 229px #FFF , 1735px 542px #FFF , 1568px 844px #FFF , 815px 540px #FFF , 1673px 1945px #FFF , 1084px 1696px #FFF , 1528px 717px #FFF , 652px 1266px #FFF , 392px 628px #FFF , 109px 586px #FFF , 759px 768px #FFF , 387px 266px #FFF , 1020px 1571px #FFF , 1748px 1492px #FFF , 792px 1832px #FFF , 942px 558px #FFF , 195px 1149px #FFF , 800px 1218px #FFF , 562px 1263px #FFF , 533px 949px #FFF , 451px 1865px #FFF , 1682px 1384px #FFF , 226px 356px #FFF , 1084px 734px #FFF , 883px 300px #FFF , 1871px 462px #FFF , 642px 1497px #FFF , 1365px 1224px #FFF , 377px 950px #FFF , 888px 871px #FFF , 782px 46px #FFF , 2000px 1334px #FFF , 1066px 921px #FFF , 300px 211px #FFF , 1181px 1164px #FFF , 617px 1424px #FFF , 777px 606px #FFF , 547px 1481px #FFF , 1249px 610px #FFF , 528px 578px #FFF , 1871px 1843px #FFF , 538px 232px #FFF , 418px 679px #FFF , 853px 1606px #FFF , 63px 1208px #FFF , 450px 1742px #FFF , 1189px 1942px #FFF , 1775px 1961px #FFF , 349px 953px #FFF , 68px 829px #FFF , 227px 161px #FFF , 689px 699px #FFF , 928px 522px #FFF , 382px 159px #FFF , 1137px 1879px #FFF , 1152px 1912px #FFF , 1914px 119px #FFF , 610px 1292px #FFF , 645px 497px #FFF , 800px 1177px #FFF , 932px 475px #FFF , 1957px 756px #FFF , 1241px 1460px #FFF , 1874px 520px #FFF , 385px 1007px #FFF , 1726px 1399px #FFF , 1556px 704px #FFF , 526px 624px #FFF , 1789px 1957px #FFF , 94px 156px #FFF , 1317px 449px #FFF , 1539px 1364px #FFF , 92px 204px #FFF , 1178px 1720px #FFF , 775px 1617px #FFF , 1877px 15px #FFF , 1288px 152px #FFF , 1911px 299px #FFF , 1492px 1047px #FFF , 962px 1491px #FFF , 569px 1877px #FFF , 396px 1360px #FFF , 1330px 1723px #FFF , 1988px 193px #FFF , 1505px 1811px #FFF , 1101px 1510px #FFF , 1790px 1488px #FFF , 1129px 625px #FFF , 54px 1790px #FFF , 899px 1493px #FFF , 652px 1982px #FFF , 456px 1981px #FFF , 468px 1305px #FFF , 1145px 1552px #FFF , 956px 1079px #FFF , 1434px 1763px #FFF , 727px 1522px #FFF , 222px 47px #FFF , 18px 421px #FFF , 300px 930px #FFF , 10px 1139px #FFF , 345px 437px #FFF , 184px 83px #FFF , 1513px 476px #FFF , 644px 1123px #FFF , 1135px 559px #FFF , 1239px 518px #FFF , 295px 942px #FFF , 117px 428px #FFF , 1837px 26px #FFF , 860px 1129px #FFF , 1912px 1615px #FFF , 184px 56px #FFF , 1061px 1518px #FFF , 1871px 1057px #FFF , 800px 75px #FFF , 1013px 1306px #FFF , 1183px 574px #FFF , 1878px 1484px #FFF , 1727px 1172px #FFF , 1285px 1683px #FFF , 1003px 1755px #FFF , 1944px 1377px #FFF , 1730px 548px #FFF , 452px 1391px #FFF , 170px 664px #FFF , 894px 1498px #FFF , 1452px 73px #FFF , 832px 813px #FFF , 241px 1817px #FFF , 935px 731px #FFF , 135px 340px #FFF , 1488px 893px #FFF , 149px 432px #FFF , 904px 441px #FFF , 1705px 520px #FFF , 198px 917px #FFF , 866px 481px #FFF , 1056px 550px #FFF , 674px 698px #FFF , 271px 1558px #FFF , 389px 1535px #FFF , 435px 586px #FFF , 825px 1663px #FFF , 619px 1689px #FFF , 210px 1063px #FFF , 58px 645px #FFF , 1939px 1068px #FFF , 1882px 202px #FFF , 358px 1420px #FFF , 774px 219px #FFF , 1822px 616px #FFF , 1143px 1113px #FFF , 1366px 1596px #FFF , 44px 591px #FFF , 1647px 1837px #FFF , 784px 494px #FFF , 1963px 165px #FFF , 559px 459px #FFF , 1673px 1227px #FFF , 935px 1486px #FFF , 495px 957px #FFF , 1829px 685px #FFF , 78px 505px #FFF , 1921px 125px #FFF , 1728px 1291px #FFF , 665px 1888px #FFF , 122px 494px #FFF , 1574px 1869px #FFF , 1575px 1428px #FFF , 773px 1242px #FFF , 263px 989px #FFF , 854px 1494px #FFF , 119px 315px #FFF , 336px 641px #FFF , 888px 752px #FFF , 717px 582px #FFF , 1854px 593px #FFF , 1631px 1716px #FFF , 910px 1538px #FFF , 155px 476px #FFF , 1172px 701px #FFF , 1068px 833px #FFF , 148px 331px #FFF , 226px 893px #FFF , 1579px 143px #FFF , 859px 322px #FFF , 130px 1056px #FFF , 955px 1852px #FFF , 1170px 1405px #FFF , 143px 1919px #FFF , 1062px 658px #FFF , 1159px 1351px #FFF , 742px 1371px #FFF , 223px 129px #FFF , 1988px 190px #FFF , 1932px 720px #FFF , 1847px 881px #FFF , 98px 954px #FFF , 1833px 1087px #FFF , 604px 1191px #FFF , 1029px 1069px #FFF , 1617px 1261px #FFF , 657px 863px #FFF , 1797px 1878px #FFF , 1152px 1924px #FFF , 352px 157px #FFF , 1253px 1404px #FFF , 1149px 765px #FFF , 886px 81px #FFF , 229px 357px #FFF , 202px 387px #FFF , 321px 1344px #FFF , 462px 681px #FFF , 385px 1618px #FFF , 1362px 1384px #FFF , 1847px 1416px #FFF , 1981px 1924px #FFF , 1588px 1892px #FFF , 604px 1600px #FFF , 1233px 1687px #FFF , 402px 1753px #FFF , 899px 606px #FFF , 481px 1406px #FFF , 514px 1472px #FFF , 1525px 1680px #FFF , 664px 413px #FFF , 526px 1842px #FFF , 412px 604px #FFF , 1392px 317px #FFF , 1686px 538px #FFF , 494px 1020px #FFF , 30px 660px #FFF , 1710px 615px #FFF , 1487px 473px #FFF , 1422px 75px #FFF , 1804px 1078px #FFF , 600px 679px #FFF , 1408px 565px #FFF , 1600px 881px #FFF , 582px 1218px #FFF , 157px 89px #FFF , 426px 1490px #FFF , 580px 549px #FFF , 1110px 1597px #FFF , 334px 1139px #FFF , 764px 743px #FFF , 381px 227px #FFF , 1371px 1602px #FFF , 1701px 1309px #FFF , 892px 1379px #FFF , 981px 1048px #FFF , 1721px 985px #FFF , 822px 361px #FFF , 1374px 644px #FFF , 768px 1168px #FFF , 1245px 860px #FFF , 1504px 1482px #FFF , 114px 916px #FFF , 349px 892px #FFF , 923px 1949px #FFF , 1362px 307px #FFF , 126px 1940px #FFF , 44px 901px #FFF , 980px 664px #FFF , 1898px 1261px #FFF , 134px 1853px #FFF , 29px 1536px #FFF , 42px 861px #FFF , 1045px 12px #FFF , 1889px 399px #FFF , 1126px 1904px #FFF , 260px 1607px #FFF , 1515px 405px #FFF , 256px 1799px #FFF , 421px 208px #FFF , 937px 383px #FFF , 1789px 308px #FFF , 592px 1701px #FFF , 1021px 636px #FFF , 403px 144px #FFF , 678px 994px #FFF , 399px 782px #FFF , 400px 757px #FFF , 97px 513px #FFF , 1529px 1878px #FFF , 144px 534px #FFF , 788px 503px #FFF , 79px 204px #FFF , 1411px 1934px #FFF , 1837px 819px #FFF , 1447px 557px #FFF , 1274px 1868px #FFF , 1308px 1615px #FFF , 1985px 1330px #FFF , 1312px 652px #FFF , 1021px 1276px #FFF , 1166px 1232px #FFF , 1646px 1666px #FFF , 1899px 1163px #FFF , 494px 1602px #FFF , 390px 892px #FFF , 861px 1985px #FFF , 329px 1337px #FFF , 496px 417px #FFF , 1989px 952px #FFF , 1375px 1344px #FFF , 1369px 1707px #FFF , 302px 1985px #FFF , 1486px 1636px #FFF , 1122px 653px #FFF , 1726px 1829px #FFF , 97px 750px #FFF , 1051px 814px #FFF , 1315px 1063px #FFF , 1816px 1179px #FFF , 528px 52px #FFF , 1408px 520px #FFF , 583px 102px #FFF , 725px 1707px #FFF , 497px 1831px #FFF , 761px 1316px #FFF , 1678px 1380px #FFF , 1743px 1371px #FFF , 1465px 1408px #FFF , 350px 956px #FFF , 513px 164px #FFF , 1074px 1334px #FFF , 1141px 1032px #FFF , 293px 843px #FFF , 988px 1848px #FFF , 940px 689px #FFF , 776px 1052px #FFF , 1921px 573px #FFF , 1584px 163px #FFF , 878px 1876px #FFF , 422px 1705px #FFF , 1555px 1837px #FFF , 1558px 20px #FFF , 1768px 816px #FFF , 862px 975px #FFF , 1641px 101px #FFF , 941px 539px #FFF , 1669px 275px #FFF , 1872px 367px #FFF , 1237px 1965px #FFF , 296px 1403px #FFF , 1112px 1652px #FFF , 691px 1704px #FFF , 1106px 931px #FFF , 1440px 1402px #FFF , 378px 1286px #FFF , 55px 1545px #FFF , 293px 1973px #FFF , 1111px 834px #FFF , 1143px 943px #FFF , 637px 855px #FFF , 875px 1315px #FFF , 1411px 824px #FFF , 224px 882px #FFF , 1151px 1454px #FFF , 456px 1709px #FFF , 814px 276px #FFF , 47px 1404px #FFF , 961px 789px #FFF , 696px 202px #FFF , 1579px 672px #FFF , 574px 1663px #FFF , 1564px 1245px #FFF , 1167px 827px #FFF , 1190px 350px #FFF , 948px 1085px #FFF , 845px 1960px #FFF , 1565px 1497px #FFF , 1326px 679px #FFF , 11px 1990px #FFF , 1639px 461px #FFF , 777px 742px #FFF , 519px 112px #FFF , 1303px 87px #FFF , 905px 1037px #FFF , 1936px 1907px #FFF , 1172px 1157px #FFF , 1123px 1341px #FFF , 1146px 1280px #FFF , 1172px 1701px #FFF , 739px 641px #FFF , 1040px 1938px #FFF , 1533px 147px #FFF , 526px 836px #FFF , 1860px 1383px #FFF , 1434px 1591px #FFF , 1415px 573px #FFF , 508px 938px #FFF , 20px 706px #FFF , 785px 92px #FFF , 1314px 1016px #FFF , 1331px 1155px #FFF , 1607px 360px #FFF , 943px 948px #FFF , 858px 1556px #FFF , 660px 1995px #FFF , 158px 605px #FFF , 1023px 1531px #FFF , 917px 1837px #FFF , 1586px 1857px #FFF , 841px 893px #FFF , 1422px 1566px #FFF , 162px 505px #FFF , 1951px 166px #FFF , 1219px 181px #FFF , 1276px 1557px #FFF , 1134px 425px #FFF , 1779px 1485px #FFF , 1465px 1548px #FFF , 986px 1636px #FFF , 1090px 820px #FFF , 1009px 10px #FFF , 308px 1721px #FFF , 297px 1007px #FFF , 646px 41px #FFF , 1037px 1773px #FFF , 198px 164px #FFF , 1328px 253px #FFF , 304px 1809px #FFF , 268px 1939px #FFF , 1155px 179px #FFF , 1910px 484px #FFF , 1758px 669px #FFF , 1393px 578px #FFF , 1147px 1969px #FFF , 1594px 667px #FFF , 114px 1290px #FFF , 1400px 1374px #FFF , 1159px 678px #FFF , 1267px 132px #FFF , 510px 1274px #FFF , 809px 300px #FFF , 1226px 746px #FFF , 110px 1668px #FFF , 978px 484px #FFF , 199px 1105px #FFF , 1445px 1712px #FFF , 981px 1895px #FFF , 1335px 948px #FFF , 724px 1292px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 342px 277px #FFF , 875px 944px #FFF , 205px 1239px #FFF , 648px 91px #FFF , 1152px 1824px #FFF , 341px 1360px #FFF , 1751px 1284px #FFF , 1637px 473px #FFF , 1101px 653px #FFF , 147px 1168px #FFF , 1175px 780px #FFF , 1027px 1371px #FFF , 800px 1689px #FFF , 968px 1266px #FFF , 479px 1891px #FFF , 786px 1212px #FFF , 1703px 1814px #FFF , 85px 754px #FFF , 1675px 932px #FFF , 318px 453px #FFF , 1675px 1580px #FFF , 1689px 1037px #FFF , 1519px 468px #FFF , 1657px 244px #FFF , 394px 1904px #FFF , 932px 492px #FFF , 692px 7px #FFF , 1165px 1689px #FFF , 1362px 1991px #FFF , 547px 318px #FFF , 1645px 558px #FFF , 1545px 1268px #FFF , 1326px 356px #FFF , 1641px 1013px #FFF , 894px 1184px #FFF , 837px 161px #FFF , 33px 1171px #FFF , 473px 913px #FFF , 1293px 1365px #FFF , 1852px 772px #FFF , 1875px 178px #FFF , 735px 1341px #FFF , 1483px 247px #FFF , 477px 462px #FFF , 23px 40px #FFF , 1282px 1342px #FFF , 554px 1638px #FFF , 754px 167px #FFF , 1349px 1649px #FFF , 1735px 625px #FFF , 1700px 1450px #FFF , 1440px 736px #FFF , 1573px 1076px #FFF , 13px 1202px #FFF , 324px 189px #FFF , 1948px 821px #FFF , 1232px 1298px #FFF , 1928px 1883px #FFF , 192px 921px #FFF , 1162px 1341px #FFF , 1570px 1854px #FFF , 394px 884px #FFF , 1895px 7px #FFF , 1230px 595px #FFF , 227px 1304px #FFF , 1641px 1970px #FFF , 241px 814px #FFF , 406px 1888px #FFF , 847px 1226px #FFF , 776px 647px #FFF , 220px 1576px #FFF , 1643px 392px #FFF , 1342px 1547px #FFF , 1854px 801px #FFF , 985px 1056px #FFF , 729px 1918px #FFF , 49px 1540px #FFF , 1277px 550px #FFF , 519px 953px #FFF , 1720px 1327px #FFF , 526px 1706px #FFF , 1194px 128px #FFF , 385px 1928px #FFF , 673px 793px #FFF , 252px 610px #FFF , 453px 821px #FFF , 545px 968px #FFF , 204px 1898px #FFF , 1776px 1686px #FFF , 110px 283px #FFF , 1916px 1357px #FFF , 1416px 2px #FFF , 259px 360px #FFF , 485px 1403px #FFF , 1053px 1221px #FFF , 1814px 1120px #FFF , 1908px 1883px #FFF , 79px 370px #FFF , 1884px 1634px #FFF , 171px 220px #FFF , 751px 986px #FFF , 841px 395px #FFF , 1115px 515px #FFF , 1018px 1603px #FFF , 228px 1180px #FFF , 870px 319px #FFF , 1093px 408px #FFF , 1325px 407px #FFF , 1425px 1198px #FFF , 161px 364px #FFF , 1074px 400px #FFF , 1313px 666px #FFF , 118px 1688px #FFF , 1188px 490px #FFF , 1968px 1417px #FFF , 1433px 1599px #FFF , 917px 756px #FFF , 716px 251px #FFF , 406px 1949px #FFF , 1212px 1690px #FFF , 694px 523px #FFF , 1042px 529px #FFF , 719px 718px #FFF , 1697px 195px #FFF , 666px 1374px #FFF , 1714px 283px #FFF , 855px 1847px #FFF , 982px 101px #FFF , 253px 1367px #FFF , 1694px 139px #FFF , 540px 192px #FFF , 775px 497px #FFF , 1871px 488px #FFF , 1256px 1789px #FFF , 111px 181px #FFF , 1821px 1375px #FFF , 1948px 1736px #FFF , 425px 1367px #FFF , 1280px 1425px #FFF , 760px 455px #FFF , 1228px 1061px #FFF , 387px 752px #FFF , 1882px 1378px #FFF , 1303px 1602px #FFF , 1818px 714px #FFF , 578px 312px #FFF , 860px 782px #FFF , 1255px 1843px #FFF , 1172px 1260px #FFF , 144px 489px #FFF , 1164px 2000px #FFF , 947px 1958px #FFF , 1401px 77px #FFF , 362px 1112px #FFF , 1236px 1994px #FFF , 538px 858px #FFF , 965px 1262px #FFF , 961px 1750px #FFF , 1632px 1962px #FFF , 70px 410px #FFF , 1226px 1185px #FFF , 1170px 1060px #FFF , 864px 179px #FFF , 55px 1294px #FFF , 294px 473px #FFF , 1871px 1224px #FFF , 1605px 27px #FFF , 1331px 1169px #FFF , 820px 1563px #FFF , 1002px 770px #FFF , 13px 1083px #FFF , 144px 1836px #FFF , 1318px 1232px #FFF , 1658px 1993px #FFF , 539px 761px #FFF , 486px 1886px #FFF , 1512px 1923px #FFF , 1849px 1180px #FFF , 1643px 1648px #FFF , 1316px 82px #FFF , 1574px 849px #FFF , 1802px 1803px #FFF , 68px 388px #FFF , 1111px 528px #FFF , 1855px 1246px #FFF , 103px 409px #FFF , 1065px 1050px #FFF , 1301px 828px #FFF , 1637px 1764px #FFF , 1499px 1701px #FFF , 553px 408px #FFF , 577px 448px #FFF , 1572px 702px #FFF , 597px 56px #FFF , 396px 494px #FFF , 761px 484px #FFF , 1597px 1731px #FFF , 840px 1734px #FFF , 99px 1585px #FFF , 1360px 471px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 342px 277px #FFF , 875px 944px #FFF , 205px 1239px #FFF , 648px 91px #FFF , 1152px 1824px #FFF , 341px 1360px #FFF , 1751px 1284px #FFF , 1637px 473px #FFF , 1101px 653px #FFF , 147px 1168px #FFF , 1175px 780px #FFF , 1027px 1371px #FFF , 800px 1689px #FFF , 968px 1266px #FFF , 479px 1891px #FFF , 786px 1212px #FFF , 1703px 1814px #FFF , 85px 754px #FFF , 1675px 932px #FFF , 318px 453px #FFF , 1675px 1580px #FFF , 1689px 1037px #FFF , 1519px 468px #FFF , 1657px 244px #FFF , 394px 1904px #FFF , 932px 492px #FFF , 692px 7px #FFF , 1165px 1689px #FFF , 1362px 1991px #FFF , 547px 318px #FFF , 1645px 558px #FFF , 1545px 1268px #FFF , 1326px 356px #FFF , 1641px 1013px #FFF , 894px 1184px #FFF , 837px 161px #FFF , 33px 1171px #FFF , 473px 913px #FFF , 1293px 1365px #FFF , 1852px 772px #FFF , 1875px 178px #FFF , 735px 1341px #FFF , 1483px 247px #FFF , 477px 462px #FFF , 23px 40px #FFF , 1282px 1342px #FFF , 554px 1638px #FFF , 754px 167px #FFF , 1349px 1649px #FFF , 1735px 625px #FFF , 1700px 1450px #FFF , 1440px 736px #FFF , 1573px 1076px #FFF , 13px 1202px #FFF , 324px 189px #FFF , 1948px 821px #FFF , 1232px 1298px #FFF , 1928px 1883px #FFF , 192px 921px #FFF , 1162px 1341px #FFF , 1570px 1854px #FFF , 394px 884px #FFF , 1895px 7px #FFF , 1230px 595px #FFF , 227px 1304px #FFF , 1641px 1970px #FFF , 241px 814px #FFF , 406px 1888px #FFF , 847px 1226px #FFF , 776px 647px #FFF , 220px 1576px #FFF , 1643px 392px #FFF , 1342px 1547px #FFF , 1854px 801px #FFF , 985px 1056px #FFF , 729px 1918px #FFF , 49px 1540px #FFF , 1277px 550px #FFF , 519px 953px #FFF , 1720px 1327px #FFF , 526px 1706px #FFF , 1194px 128px #FFF , 385px 1928px #FFF , 673px 793px #FFF , 252px 610px #FFF , 453px 821px #FFF , 545px 968px #FFF , 204px 1898px #FFF , 1776px 1686px #FFF , 110px 283px #FFF , 1916px 1357px #FFF , 1416px 2px #FFF , 259px 360px #FFF , 485px 1403px #FFF , 1053px 1221px #FFF , 1814px 1120px #FFF , 1908px 1883px #FFF , 79px 370px #FFF , 1884px 1634px #FFF , 171px 220px #FFF , 751px 986px #FFF , 841px 395px #FFF , 1115px 515px #FFF , 1018px 1603px #FFF , 228px 1180px #FFF , 870px 319px #FFF , 1093px 408px #FFF , 1325px 407px #FFF , 1425px 1198px #FFF , 161px 364px #FFF , 1074px 400px #FFF , 1313px 666px #FFF , 118px 1688px #FFF , 1188px 490px #FFF , 1968px 1417px #FFF , 1433px 1599px #FFF , 917px 756px #FFF , 716px 251px #FFF , 406px 1949px #FFF , 1212px 1690px #FFF , 694px 523px #FFF , 1042px 529px #FFF , 719px 718px #FFF , 1697px 195px #FFF , 666px 1374px #FFF , 1714px 283px #FFF , 855px 1847px #FFF , 982px 101px #FFF , 253px 1367px #FFF , 1694px 139px #FFF , 540px 192px #FFF , 775px 497px #FFF , 1871px 488px #FFF , 1256px 1789px #FFF , 111px 181px #FFF , 1821px 1375px #FFF , 1948px 1736px #FFF , 425px 1367px #FFF , 1280px 1425px #FFF , 760px 455px #FFF , 1228px 1061px #FFF , 387px 752px #FFF , 1882px 1378px #FFF , 1303px 1602px #FFF , 1818px 714px #FFF , 578px 312px #FFF , 860px 782px #FFF , 1255px 1843px #FFF , 1172px 1260px #FFF , 144px 489px #FFF , 1164px 2000px #FFF , 947px 1958px #FFF , 1401px 77px #FFF , 362px 1112px #FFF , 1236px 1994px #FFF , 538px 858px #FFF , 965px 1262px #FFF , 961px 1750px #FFF , 1632px 1962px #FFF , 70px 410px #FFF , 1226px 1185px #FFF , 1170px 1060px #FFF , 864px 179px #FFF , 55px 1294px #FFF , 294px 473px #FFF , 1871px 1224px #FFF , 1605px 27px #FFF , 1331px 1169px #FFF , 820px 1563px #FFF , 1002px 770px #FFF , 13px 1083px #FFF , 144px 1836px #FFF , 1318px 1232px #FFF , 1658px 1993px #FFF , 539px 761px #FFF , 486px 1886px #FFF , 1512px 1923px #FFF , 1849px 1180px #FFF , 1643px 1648px #FFF , 1316px 82px #FFF , 1574px 849px #FFF , 1802px 1803px #FFF , 68px 388px #FFF , 1111px 528px #FFF , 1855px 1246px #FFF , 103px 409px #FFF , 1065px 1050px #FFF , 1301px 828px #FFF , 1637px 1764px #FFF , 1499px 1701px #FFF , 553px 408px #FFF , 577px 448px #FFF , 1572px 702px #FFF , 597px 56px #FFF , 396px 494px #FFF , 761px 484px #FFF , 1597px 1731px #FFF , 840px 1734px #FFF , 99px 1585px #FFF , 1360px 471px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1805px 710px #FFF , 1503px 1252px #FFF , 1082px 1086px #FFF , 265px 740px #FFF , 1144px 1076px #FFF , 493px 924px #FFF , 131px 1192px #FFF , 576px 956px #FFF , 892px 1533px #FFF , 1669px 1659px #FFF , 56px 1295px #FFF , 1267px 1212px #FFF , 1616px 345px #FFF , 1573px 161px #FFF , 1559px 573px #FFF , 1322px 1430px #FFF , 1885px 1219px #FFF , 515px 1773px #FFF , 1789px 1659px #FFF , 814px 671px #FFF , 1906px 571px #FFF , 1727px 699px #FFF , 730px 1373px #FFF , 1768px 362px #FFF , 138px 249px #FFF , 587px 617px #FFF , 763px 1587px #FFF , 1493px 758px #FFF , 353px 1003px #FFF , 92px 1344px #FFF , 1452px 754px #FFF , 25px 1321px #FFF , 1126px 1603px #FFF , 1490px 1444px #FFF , 1241px 579px #FFF , 1550px 441px #FFF , 376px 1820px #FFF , 1421px 442px #FFF , 889px 637px #FFF , 1841px 973px #FFF , 1609px 1819px #FFF , 1956px 33px #FFF , 1680px 1937px #FFF , 1325px 1432px #FFF , 147px 524px #FFF , 1543px 258px #FFF , 506px 684px #FFF , 985px 507px #FFF , 935px 330px #FFF , 1174px 1263px #FFF , 12px 520px #FFF , 31px 1335px #FFF , 535px 1966px #FFF , 345px 828px #FFF , 37px 1977px #FFF , 1542px 1280px #FFF , 709px 1966px #FFF , 1295px 1704px #FFF , 308px 161px #FFF , 330px 114px #FFF , 1988px 1193px #FFF , 1533px 383px #FFF , 693px 157px #FFF , 745px 253px #FFF , 612px 911px #FFF , 1989px 1153px #FFF , 1259px 1694px #FFF , 260px 943px #FFF , 1442px 1405px #FFF , 1398px 295px #FFF , 1313px 1908px #FFF , 1142px 1215px #FFF , 1659px 1974px #FFF , 1118px 299px #FFF , 945px 482px #FFF , 1752px 1802px #FFF , 1735px 981px #FFF , 214px 894px #FFF , 1795px 1382px #FFF , 1839px 1228px #FFF , 1603px 1868px #FFF , 1039px 1827px #FFF , 877px 1749px #FFF , 49px 1937px #FFF , 948px 1528px #FFF , 885px 1072px #FFF , 1309px 351px #FFF , 851px 1194px #FFF , 70px 1922px #FFF , 999px 1087px #FFF , 1005px 492px #FFF , 1293px 1300px #FFF , 743px 494px #FFF , 1489px 250px #FFF , 1485px 1294px #FFF , 1096px 1171px #FFF , 1482px 1512px #FFF , 1559px 1011px #FFF , 201px 1884px #FFF , 783px 1071px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1805px 710px #FFF , 1503px 1252px #FFF , 1082px 1086px #FFF , 265px 740px #FFF , 1144px 1076px #FFF , 493px 924px #FFF , 131px 1192px #FFF , 576px 956px #FFF , 892px 1533px #FFF , 1669px 1659px #FFF , 56px 1295px #FFF , 1267px 1212px #FFF , 1616px 345px #FFF , 1573px 161px #FFF , 1559px 573px #FFF , 1322px 1430px #FFF , 1885px 1219px #FFF , 515px 1773px #FFF , 1789px 1659px #FFF , 814px 671px #FFF , 1906px 571px #FFF , 1727px 699px #FFF , 730px 1373px #FFF , 1768px 362px #FFF , 138px 249px #FFF , 587px 617px #FFF , 763px 1587px #FFF , 1493px 758px #FFF , 353px 1003px #FFF , 92px 1344px #FFF , 1452px 754px #FFF , 25px 1321px #FFF , 1126px 1603px #FFF , 1490px 1444px #FFF , 1241px 579px #FFF , 1550px 441px #FFF , 376px 1820px #FFF , 1421px 442px #FFF , 889px 637px #FFF , 1841px 973px #FFF , 1609px 1819px #FFF , 1956px 33px #FFF , 1680px 1937px #FFF , 1325px 1432px #FFF , 147px 524px #FFF , 1543px 258px #FFF , 506px 684px #FFF , 985px 507px #FFF , 935px 330px #FFF , 1174px 1263px #FFF , 12px 520px #FFF , 31px 1335px #FFF , 535px 1966px #FFF , 345px 828px #FFF , 37px 1977px #FFF , 1542px 1280px #FFF , 709px 1966px #FFF , 1295px 1704px #FFF , 308px 161px #FFF , 330px 114px #FFF , 1988px 1193px #FFF , 1533px 383px #FFF , 693px 157px #FFF , 745px 253px #FFF , 612px 911px #FFF , 1989px 1153px #FFF , 1259px 1694px #FFF , 260px 943px #FFF , 1442px 1405px #FFF , 1398px 295px #FFF , 1313px 1908px #FFF , 1142px 1215px #FFF , 1659px 1974px #FFF , 1118px 299px #FFF , 945px 482px #FFF , 1752px 1802px #FFF , 1735px 981px #FFF , 214px 894px #FFF , 1795px 1382px #FFF , 1839px 1228px #FFF , 1603px 1868px #FFF , 1039px 1827px #FFF , 877px 1749px #FFF , 49px 1937px #FFF , 948px 1528px #FFF , 885px 1072px #FFF , 1309px 351px #FFF , 851px 1194px #FFF , 70px 1922px #FFF , 999px 1087px #FFF , 1005px 492px #FFF , 1293px 1300px #FFF , 743px 494px #FFF , 1489px 250px #FFF , 1485px 1294px #FFF , 1096px 1171px #FFF , 1482px 1512px #FFF , 1559px 1011px #FFF , 201px 1884px #FFF , 783px 1071px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.anim {
  opacity: 0;
  transform: translateY(-40px); 
  transition: opacity 0.5s, transform 0.5s;
}
.show {
opacity: 1;
transform: translateY(0);
animation-delay:0.5s;
}